version: "3.8"

services:
  statutory:
    build:
      context: ./${PATH_STATUTORY}/..
      dockerfile: ./docker/statutory/Dockerfile
    image: aegee/statutory:dev
    command: "nodemon -e 'js,json' lib/run.js | bunyan --color"
    volumes:
      - ./${PATH_STATUTORY}/../config:/usr/app/src/config
      - ./${PATH_STATUTORY}/../lib:/usr/app/src/lib
      - ./${PATH_STATUTORY}/../migrations:/usr/app/src/migrations
      - ./${PATH_STATUTORY}/../models:/usr/app/src/models
      - ./${PATH_STATUTORY}/../cli.js:/usr/app/src/cli.js
